.table-body
{
  margin-top: 5%;
  margin-bottom: 5%;
}

.header
{
  margin-top: 5%;
  text-align: center;
  padding : 20px;
  color: rgb(95, 131, 197);
  background-color:rgba(218, 218, 218, 0.767);
  border-radius: 15px;
}

thead
{
  background-color: rgb(95, 131, 197);
}

tbody
{
  background-color: rgb(227, 236, 253);
}